<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="cabeca">
        <h1>To Do List</h1>
        <article class="menu">
            <input type="text" id="cxtxt" placeholder="Insira uma tarefa">
            <button id="addBtn">Adicionar</button>
        </article>
    </header>

    <section id="tarefas">
        <ul id="listatarefa">

        </ul>
    </section>
    <script src="/js/script.js"></script>
</body>
</html>